*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

:root{
--primaria:#4f46e5;
--secudaria:#7c3aed;
--escuro:#0f172a;
--maisEscuro:#0a0f1c;
--claro:#e2e8f0;
--vidro:rgba(255.255,255.01);
}

body{
    background-color: var(--escuro);
    color:var(--claro);
}
.navegacao{
    position: fixed;
    top:0;
    background:rgba(15,23,42,0.8);
    width:100%;
    z-index: 100 ;
    padding: 1.5rem ;
}

