*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

:root{
--primaria:#4f46e5;
--secudaria:#7c3aed;
--escuro:#0f172a;
--maisEscuro:#0a0f1c;
--claro:#e2e8f0;
--vidro:rgba(255.255,255.01);
}

body{
    background-color: var(--escuro);
    color:var(--claro);
}
.navegacao{
    position: fixed;
    top:0;
    background:rgba(15,23,42,0.8);
    width:100%;
    z-index: 100 ;
    padding: 1.5rem ;

}
.menu{
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 1rem;

}
.menu-link{
   text-decoration: none;
   color:var(--claro);
   font-weight:500 ;
   position: relative;
   padding: 0.5rem 0;
}
.menu-link::after{
    content: '' ;
    height:2px;
    width: 0;
    position: absolute;
    bottom:0;
    left:0;
    background: linear-gradient(90deg,var(--primaria),var(--secudaria));
    transition: width  0.5s ease;
}
.menu-link:hover::after{
  width: 100%;
}
.cabecalho{
    min-height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto-perfil{
    width: 350px;
    height:350px ;
    box-shadow: 0 0 20px rgba(79,70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);

}
h1{
   font-size: 3,5 rem; 
   color: var(--primaria);
   font-weight:bold ;
   margin: 20px;
}
     .cabecalho-sub-titulo{
        font-size: 1.5rem;
        color: var(--claro);
     }          

/*after depois /before antes */
